/output/
/moodle-data-proxy/export/
/node-storage/
/.las2peer/
/tmp/
/log/
/lib/
/service/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/startup/
*.secret
archiva_credentials.xml
/whitelist

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
